<html>
<body>
    <div class="discount">
        <img class="discount-icon" src="assets/images/discount.svg"/>
        <div class="discount-title">ЦЬОГО ТИЖНЯ НА ВСЕ</div>
        <div class="discount-description">-20%</div>
    </div>
    <div class="footer">
    <div class="footer-text">
        <br><br><br>
        Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії <br><br>
        Доставка піци не здійснюється<br><br><br>
    </div>
</div>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
        </script>
        <script type="text/javascript"  src="assets/js/main.js"> 
        </script>
    </body>
</html>